node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json
.vscode/launch.json

### Typescript ###
node_modules/
dist/

### Pnpm ###
pnpm-lock.yaml
.pnpm/
.pnpm-debug.log
.pnpm-store/
pnpm-lock.yaml.bak
.pnpmfile.cjs
.pnpm-cache/
